{% extends 'base.html.twig' %}

{% block title %}Form index{% endblock %}

{% block body %}
    <h1>Form index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Collaborateur</th>
                <th>Entitytype</th>
                <th>Nom</th>
                <th>Societe</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for form in forms %}
            <tr>
                <td>{{ form.id }}</td>
                <td>{{ form.collaborateur }}</td>
                <td>{{ form.entitytype }}</td>
                <td>{{ form.nom }}</td>
                <td>{{ form.societe }}</td>
                <td>{{ form.email }}</td>
                <td>{{ form.telephone }}</td>
                <td>
                    <a href="{{ path('form_show', {'id': form.id}) }}">show</a>
                    <a href="{{ path('form_edit', {'id': form.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('form_new') }}">Create new</a>
{% endblock %}
