{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    <h1>Form</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ form.id }}</td>
            </tr>
            <tr>
                <th>Collaborateur</th>
                <td>{{ form.collaborateur }}</td>
            </tr>
            <tr>
                <th>Entitytype</th>
                <td>{{ form.entitytype }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ form.nom }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ form.societe }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ form.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('form_index') }}">back to list</a>

    <a href="{{ path('form_edit', {'id': form.id}) }}">edit</a>

    {{ include('form/_delete_form.html.twig') }}
{% endblock %}
